.container > h1 {
    text-align: center;
}

.todoList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

li:hover {
    color: #f00;
    text-decoration: dashed;
}